Functions
- Block of code 
- Helps in organizing code, reusing and improving readability

In [ ]:
## Syntax

def function_name(parameters):
    """Docstring"""  ## Use for comments
    # Function Body - code of the body
    return expression  ## Some functions may return or may not return any value

In [1]:
## Why Functions

num=24
if num%2==0:
    print("Number is even")
else:
    print("Number is Odd")

Number is even

In [3]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
        print("Even Number")
    else:
        print("Odd Number")

In [7]:
even_or_odd(3) ## Calling the function
even_or_odd(52)

Odd Number
Even Number

In [10]:
## Function with multiple parameters

def add(a,b):
    c=a+b
    return c
    
result=add(10,40)
print(result)

50

In [12]:
## Default Parameters

def greet(name):
    print(f"Hello {name}, Welcome to the Paradise")
    
greet("Omkar")

Hello Omkar, Welcome to the Paradise

In [ ]:
## Default Parameters

def greet(name="Guest"): ## Assigning default parameter
    print(f"Hello {name}, Welcome to the Paradise")
    
greet()    ## Using default parameters
greet("Avyukt")

Hello Guest, Welcome to the Paradise
Hello Avyukt, Welcome to the Paradise

In [ ]:
## Variable length arguments
## Positional and keyword arguments

def print_numbers(*omkar): ## *omkar (args is used globally for positinal arguments) can have multiple parameters
    for n in omkar:
        print(n)

print_numbers(1,3,4,5,6,"omi","avi","3.4")

1
3
4
5
6
omi
avi
3.4

In [ ]:
## Keywords Arguments

def print_details(**kwargs): ## kwargs - keyword arguments (similar to variable arguments but in key value pair and **)
    for key,value in kwargs.items():
        print(f"{key}:{value}")
              
print_details(name="omkar",age=32,city="Mumbai")

name:omkar
age:32
city:Mumbai

In [21]:
def print_details(*args,**kwargs):
    for val in args:
        print(f"Positional Argument: {val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [22]:
print_details(1,2,3,name="Omkar",age=32,Grade="A")

Positional Argument: 1
Positional Argument: 2
Positional Argument: 3
name:Omkar
age:32
Grade:A

In [ ]:
## Return Statement

def multiply(a,b):
    return a*b
    
multiply(2,4)

8

In [ ]:
## Return multiple parameters
def multiply(a,b):
    return a*b,a
    
multiply(2,4)

(8, 2)