In [ ]:
## Integer 
age=35
type(age)

int

In [ ]:
## float
height = 5.5
print(type(height))

<class 'float'>

In [ ]:
## string
name="krish"
type(name)

str

In [ ]:
## boolean

is_true=True
type(is_true)

bool() 

a=10
b=10
type(a==b) #this will also return type as bool

bool

In [ ]:
## common errors
result="Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
result="Hello" + str(5)
print(result)

Hello5

<class 'float'>

str

bool

TypeError: can only concatenate str (not "int") to str

Hello5