In [1]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [6]:
range(1,10,1)

range(1, 10)

In [8]:
range(1,10,2)

range(1, 10, 2)

In [10]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [12]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [14]:
## strings
str="Omkar Vishwakarma"
for i in str:
    print(i)

O
m
k
a
r

V
i
s
h
w
a
k
a
r
m
a

In [18]:
## while loop

## The while loop continues to execute as long as the condition is True

count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [21]:

count=2

while count%2==0:
    print(count)
    count=count+1

2

In [23]:
## Loop Control Statements

## break
## The break statement exits the loop prematurely

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [26]:
## continue

## The continue statement skips the current iteration and continues with the next

## Skipping Even Number iteration
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [29]:
## pass
## The pass statement is a null operation; it does nothing.

for i in range(5):
    if i==3:
        print("the number is",i)
        pass
    print(i)

0
1
2
the number is 3
3
4

In [31]:
## Nested Loops

## A loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [ ]:
## Examples

## Calculate the sum on first N natural numbers using while and for loop

## while loop
n=10;
sum=0;
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("Sum of 10 natural number:",sum)

Sum of 10 natural number: 55

In [35]:

## for loop
n=10;
sum=0;
count=1

for i in range(11):
    sum=sum+i

print(sum)

55

In [36]:
## Example - Prime numbers between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else: ## Along with for also we can use else block
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97